 /*SOBRE MÍ RESPONSIVE*/
 @media (max-width: 1140px) {
    .titleText {
      font-size: 3.1rem;
    }
  }
   @media (max-width: 1010px) {
    .titleText {
      font-size: 3rem;
    }
    .imgGraphic {
      top: -8rem;
      right: -40rem;
      width: 15rem;
      z-index: 0;
    }
  }
    @media (max-width: 800px) {
    .titleText {
      font-size: 2.5rem;
    }
    .subtitleText {
      font-size: 2rem;
      line-height: 1.5;
      padding-top: 3rem;
    }
    .imgGraphic {
      top: -7rem;
      right: -30rem;
      width: 15rem;
      z-index: 0;
    }
    .sobreBg {
      height: 30%;
    }

    .subtitleText2{
      font-size: 1.5rem;
    }
    .imgGraphic2{
      width: 22rem;
      right: 1.5rem;
      opacity: 70%;
      z-index: -1;
    }
  }
    @media (max-width: 428px) {
    .titleText {
      font-size: 1.5rem;
    }
    .subtitleText2{
      font-size: 1rem;
      font-family: 'Lexend Deca', sans-serif;
      text-align: center;
      margin-top: -6rem;
      line-height: 1;
  
      p {
        margin-top: 1rem;
        margin-left: -2rem;
      }
    }
    .sobreBg {
      height: 30%;
    }
    .imgGraphic2{
      width: 10rem;
      top: 12rem;
      right: 1.5rem;
      opacity: 70%;
      z-index: -1;
    }
  }
  
  @media (max-width: 320px) {
    .titleText {
      font-size: 1.2rem;
    }
    .subtitleText p {
      margin-top: 2.2rem;
      line-height: 1.3;
    }
    .imgGraphic2{
      width: 5rem;
      top: 16rem;
      right: 0rem;
      opacity: 70%;
      z-index: -1;
    }
  }
  