$color:(
    cafe: #CC3436,
    cafe-claro: #EA8069,
    title-cafe-oscuro: #6F3E1C,
    marron-oscuro: #944109,
    marron-contacto: #EF5A2F,
    cappucino: #CD7D60,
    color-morado: #ca4087,
    color-morado-fuerte: #550948,
    color-lila-claro: #C25897,
    color-celeste: #4b89da,
    color-celesteclaro: #12D8FA,
    color-azul-rey: #091294,
    color-azul-header: #072a5f,
    color-morado-galeria: #940976


)